<h2>Edit Whisky</h2>

<form action='/whiskies/<%= "#{@whisky.id}" %>' method="post">
  <label for="whisky[name]">Name:</label>
  <input name="whisky[name]" value='<%= "#{@whisky.name}" %>'>

  <label for="whisky[img_url]">Image URL:</label>
  <input name="whisky[img_url]" value='<%= "#{@whisky.img_url}" %>'>

  <label for="whisky[tasting_notes]">Tasting Notes:</label>
  <input name="whisky[tasting_notes]" value='<%= "#{@whisky.tasting_notes}" %>'>

  <input type="submit" value="Create">
</form>
